<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div>
  <ion-textarea    name="topic" label="topic" labelPlacement="floating" fill="solid" placeholder="Enter text"></ion-textarea>
  <br>
  <ion-textarea   name="description"  label="Descreption" labelPlacement="floating" fill="outline" placeholder="Enter text"></ion-textarea>
  <br>
  <ion-textarea  name="reference" label="Reference" labelPlacement="floating" fill="outline" placeholder="Enter text"></ion-textarea>
  <br>
  <ion-datetime-button  datetime="datetime"></ion-datetime-button>
  <br>

  <div>
  <ion-button id="pic" >Take Photo</ion-button>
  <ion-button id="pic2" color="danger" >Delete</ion-button>
  </div>
  <br><br>
  

  <div>
  <ion-card *ngIf="capturedPhotos.length > 0" >
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let photo of capturedPhotos; let i = index">
            <ion-card >
              <img [src]="photo" alt="Captured Photo">
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>

  <ion-modal [keepContentsMounted]="true" id="modal">
    <ng-template id="modal">
      <ion-datetime    id="datetime"></ion-datetime>
    </ng-template>
  </ion-modal>
  <br>
  <ion-button  expand="block" id="but">Save</ion-button>
</div>
</ion-content>


