#topic{
    height:1px;
}

#descript{
    height:1px;
}

#but {
    position: fixed;
    bottom: 10px;
    left: 3px;
    right: 5px;
    z-index: 9999;
  }

  #pic{
    position: fixed;
    left: 5px;
    right: 5px;
    width: 185px;
  }

  #pic2{
    position: fixed;
    right: 5px;
    width: 185px;
  }